* {
    padding: 0;
    margin: 0;
    font-size: 3vw;
    background-color: rgb(108, 78, 78);
    color: white;
}

.box {
    width: 15vw;
    height: 15vw;
    border: 2px solid rgb(224, 211, 211);
    box-shadow: 0vw 0vw 2vw 0.5vw;
    border-radius: 50%;
    margin: 5vw auto;

}

.watch {
    width: 96%;
    display: flex;
    justify-content: space-around;
    margin: 40% auto;

}

.btns {
    margin: 2vw auto;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 1vw 3vw;
    border-radius: 1vw;
    background-color: black;
}

.btn:hover {
    box-shadow: 0vw 0vw 1.5vw 0.5vw;
    border-color: white;
    font-size: xx-large;
}

p {
    display: inline;
}

.dead {
    pointer-events: none;
}